node_modules/
.env
dump.rdb
production_logs/
.vscode/
.vercel
# build / compiled assets (DO NOT COMMIT)
public/assets/css/
public/assets/js/
public/assets/images/
public/assets/rev-manifest.json
public/rev-manifest.json
